<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.mycompany.mavenproject1.Controller_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Crud</servlet-name>
        <servlet-class>com.mycompany.mavenproject1.Crud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Recharge</servlet-name>
        <servlet-class>com.mycompany.mavenproject1.Controller_Recharge</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_home</servlet-name>
        <servlet-class>com.mycompany.mavenproject1.Controller_home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller_Statistique</servlet-name>
        <servlet-class>com.mycompany.mavenproject1.Controller_Statistique</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Crud</servlet-name>
        <url-pattern>/Crud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Recharge</servlet-name>
        <url-pattern>/Controller_Recharge</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_home</servlet-name>
        <url-pattern>/Controller_home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller_Statistique</servlet-name>
        <url-pattern>/Controller_Statistique</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
